<!DOCTYPE html>
<html lang="en" class="min-h-full block m-0 p-0 bg-yellow-200 dark:bg-gray-900 dark:text-white">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del evento</title>
</head>

<body class="h-full min-h-full">
    <app-header></app-header>
    <app-spinner></app-spinner>
    <div class="flex flex-col tablet:flex-row justify-center items-center">
        <div id="eventoContainer" class="w-full text-center flex flex-col justify-center items-center">
            <p class="text-5xl p-5">{{ evento.nombre }}</p>
            <img *ngIf="evento.fotoPortada; else noPortada" class="object-cover tablet:max-w-1/2 tablet:max-h-1/6 max-w-full h-auto rounded-t-lg" src='{{evento.fotoPortada}}' alt="">
            <ng-template #noPortada>
                <img src="../../../assets/noImage.png" class="object-cover tablet:max-w-3/4 max-w-full h-auto rounded-t-lg" alt="Sin imagen">
            </ng-template>
            <p class="p-5">{{evento.descripcion}}</p>
            <div id="containerFoto" *ngIf="evento.fotosEvento.length > 0" class="flex flex-col">
                <span class="text-2xl p-5 uppercase">Galería del evento</span>
                <div class="flex flex-row bg-gray-300 m-2 rounded columns-3 justify-around flex-wrap">
                    <div *ngFor="let fotoEvento of evento.fotosEvento" class="p-5 transform transition duration-500 hover:scale-110">
                        <a target="_blank" href="{{fotoEvento}}">
                            <img src="{{fotoEvento}}" alt="fotosEvento" class="w-80 h-48 object-fit">
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-full">
                <!-- <span class="text-2xl p-3">Ubicación del evento</span> -->
                <div class="flex flex-row justify-center items-center"><img src="../../../assets/ubicacion.png" class="max-w-xs max-h-5 m-1 float-left pr-1" alt="ubicacion"><span class="uppercase text-xl">Ubicación</span></div>
                <span class="p-5 text-gray-500 dark:text-white">{{evento.ubicacion}}</span>
            </div>
            <app-usuarios-inscritos [ngClass]="{'hidden':!verInscritos, 'flex': verInscritos }" class="w-full tablet:w-3/4 fixed top-1/2" [usuariosInscritos]="usuariosInscritos">
            </app-usuarios-inscritos>
            <!-- <span class="p-3 text-2xl w-full uppercase">Contacto</span> -->
            <div class="flex flex-row justify-center items-center"><img src="../../../assets/contacto.png" class="max-w-xs max-h-5 m-1 float-left pr-1" alt="contacto"><span class="uppercase text-xl">Contacto</span></div>
            <div class="flex">
                <div class='m-0 flex flex-col justify-center items-center rounded tablet:flex-row mobile:max-w-xs text-gray-500 dark:text-white'>
                    <div (click)="abrirPerfil(usuarioCreador.usuarioID!)" class='flex justify-center items-center flex-shrink-0 cursor-pointer'>
                        <img *ngIf="usuarioCreador.foto; else elseBlock" class="w-full h-auto max-w-xs tablet:max-w-xs" src="{{usuarioCreador.foto}}" alt="fotoPerfil">
                        <ng-template #elseBlock class="flex-shrink-0 mx-5 max-w-xs">
                            <img *ngIf="usuarioCreador.particular" src="../../../assets/user.png" class="w-full h-auto max-w-xs tablet:max-w-xs" alt="sinFotoPerfil">
                            <img *ngIf="usuarioCreador.negocio" src="../../../assets/tienda.png" class="w-full h-auto max-w-xs tablet:max-w-xs" alt="sinFotoPerfil">
                        </ng-template>
                    </div>
                    <div class='flex'>
                        <div class="p-6 h-full flex flex-col justify-center items-center">
                            <h4 class='font-medium text-2xl pr-5 mb-3'>{{evento.creador}}</h4>
                            <p class='leading-normal'>{{usuarioCreador.nombre}}</p>
                            <p class="text-sm text-grey block mt-6">{{usuarioCreador.telefono}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col p-3 tablet:border-l-2 mx-2">
            <span class="text-xl">Detalles del evento</span>
            <span class="p-2">
                <img src="../../assets/calendar.png" class="max-w-xs max-h-5 float-left pr-1"
                    alt="calendario">{{evento.fecha_evento | date:'d-LLL-yy' }}
            </span>
            <span class="p-2">
                <img src="../../assets/reloj.png" class="max-w-xs max-h-5 float-left pr-1" alt="calendario">
                {{evento.fecha_evento | date:'HH:mm a' }}
            </span>
            <span class="p-2">
                <img src="../../assets/reloj-de-arena.png" class="max-w-xs max-h-5 float-left pr-1" alt="calendario">
                {{evento.duracion}}mins
            </span>
            <span *ngIf="evento.precio !== 0" class="p-2">
                <img src="../../assets/billete.png" class="max-w-xs max-h-5 float-left pr-1" alt="calendario">
                {{evento.precio}} €
            </span>
            <span *ngIf="evento.precio == 0" class="p-2">
                <img src="../../assets/billete.png" class="max-w-xs max-h-5 float-left pr-1" alt="calendario">
                GRATIS
            </span>
            <span *ngIf="evento.inscripcion && usuarioEmail && !inscrito" class="p-2">
                <button type="button" (click)="inscribirse()"
                    class="bg-green-400 hover:bg-black text-black hover:text-green-400 py-2 px-4 border border-black hover:border-transparent rounded  animate-bounce-short">Inscribirse</button>
            </span>
            <span *ngIf="inscrito" class="p-2">
                <p> ¡Ya estás inscrito al evento. Disfruta! </p>
                <button (click)="anularInscripcion()"
                    class="bg-red-400 hover:bg-black text-black hover:text-red-400 py-2 px-4 border border-black hover:border-transparent rounded">Anular inscripción</button>
            </span>
            <span *ngIf="creador && evento.inscripcion" class="p-2">
                <button *ngIf="!verInscritos" (click)="verInscripciones()"
                    class="bg-blue-400 hover:bg-black text-black hover:text-blue-400 py-2 px-4 border border-black hover:border-transparent rounded">Ver inscripciones</button>
                <button [ngClass]="{'hidden':!verInscritos, 'flex': verInscritos }" (click)="verInscripciones()"
                    class="bg-blue-400 hover:bg-black text-black hover:text-blue-400 py-2 px-2 border border-black hover:border-transparent rounded">Ocultar inscripciones</button>
            </span>

        </div>
    </div>
    <div id="comentarios" class="flex flex-col justify-center items-center p-2 font-sans">
        <div><span class="uppercase text-xl font-bold">Comentarios</span><img src="../../assets/comentario.png" class="max-w-xs max-h-5 m-1 float-right pr-1" alt="calendario"></div>
        <form *ngIf="usuarioID" [formGroup]="comentarioForm" class="w-full text-center flex flex-col justify-center items-center">
            <input formControlName="titulo" class="w-3/4 tablet:w-1/2 m-1" type="text" placeholder="Título">
            <textarea formControlName="comentario" class="w-3/4 tablet:w-1/2 m-1" placeholder="Escriba aquí su comentario..."></textarea>
            <button (click)="publicarComentario()" class="p-2 bg-gray-400 hover:bg-yellow-600 hover:text-white rounded" type="submit">Comentar</button>
        </form>
        <div *ngFor="let comen of comentarios" class="flex flex-col border-2 border-gray-400 p-2 w-3/4 tablet:w-1/2 my-2">
            <span class="float-left font-bold">{{comen.titulo}}</span>
            <span class="float-left text-sm text-gray-700 dark:text-white">{{comen.texto}}</span>
            <div class="flex flex-row justify-between content-between">
                <span class="float-left text-xs text-gray-700 dark:text-white">{{comen.creador}}</span>
                <span class="float-left text-xs text-gray-700 dark:text-white">{{comen.fecha | date:'dd-LL-yy'}}</span>
            </div>
        </div>
    </div>
</body>

</html>
<app-footer></app-footer>
<a class="hidden" href="https://www.flaticon.es/iconos-gratis/comentario" title="comentario iconos">Comentario iconos creados por Freepik - Flaticon</a>
<a class="hidden" href="https://www.flaticon.com/free-icons/calendar" title="comentario iconos">Comentario iconos creados por Freepik - Flaticon</a>
<a class="hidden" href="https://www.flaticon.es/iconos-gratis/reloj" title="comentario iconos">Comentario iconos creados por Freepik - Flaticon</a>
<a class="hidden" href="https://www.flaticon.es/iconos-gratis/billete-de-banco" title="billete de banco iconos">Billete de banco iconos creados por Talha Dogar - Flaticon</a>
<a class="hidden" href="https://www.flaticon.es/iconos-gratis/ubicacion" title="ubicación iconos">Ubicación iconos creados por apien - Flaticon</a>
<a class="hidden" href="https://www.flaticon.es/iconos-gratis/contacto" title="contacto iconos">Contacto iconos creados por Cuputo - Flaticon</a>