<!DOCTYPE html>
<html lang="en" class="min-h-full block m-0 p-0 bg-bg-engranaje bg-cover">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="cute-alert.js"></script>
    <title>Editar perfil</title>
</head>

<body class="h-full min-h-full">
    <app-header></app-header>
    <app-spinner></app-spinner>

    <form action="POST" [formGroup]="editarPerfilForm" (ngSubmit)="guardarPerfil()">
        <div id="perfilForm">

            <div class="flex flex-wrap w-3/4 mx-10 mb-2 flex-col justify-center items-center tablet:justify-start tablet:items-start mobile:flex-row">
                <label class="block tracking-wide text-s mb-2" for="fotoPortada">
                    Foto de perfil
                </label>
                <div class="w-full tablet:w-full mb-6 px-3 tablet:mb-0 flex flex-col tablet:flex-row">
                    <img *ngIf="usuario.foto" class="max-w-1/2 tablet:max-w-1/4" src="{{usuario.foto}}" alt="fotoPortada">
                    <div>
                        <ngx-dropzone accept="image/jpeg,image/jpg,image/png" (change)="onSelect($event)">
                            <ngx-dropzone-label>Click para seleccionar imagen o arrastrala (jpg,jpeg,png)
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                        <div class="flex flex-row bg-gray-500 max-w-fit-content p-1 mt-2 cursor-pointer rounded"><img src="../../../assets/upload.svg" (click)="onUploadImage()" class="w-5 cursor-pointer" alt="Upload"><button type="button" (click)="onUploadImage()">Selecciona para subir la
                                imagen de portada (sólo se subirá la primera)</button></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap mx-10 mb-2 flex-col justify-center items-center tablet:justify-start tablet:items-start mobile:flex-row">
                <div class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="nombre">
                        Nombre *
                    </label>
                    <input formControlName="nombre" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" value="{{usuario.nombre}}">
                    <span class=" text-red-700" *ngIf="editarPerfilForm.get('nombre')?.hasError('required') && editarPerfilForm.get('nombre')?.touched">
                        El nombre es obligatorio
                    </span>
                </div>
                <div *ngIf="usuario.particular" class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="apellidos">
                        Apellidos *
                    </label>
                    <input formControlName="apellidos" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" value="{{usuario.apellidos}}">
                </div>
                <div class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="tfno">
                        Teléfono *
                    </label>
                    <input formControlName="telefono" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="telefono
                      " type="text" value="{{usuario.telefono}}">
                    <span class="text-red-700" *ngIf="editarPerfilForm.get('telefono')?.hasError('required') && editarPerfilForm.get('telefono')?.touched">
                        El teléfono es obligatorio
                    </span>
                    <span class="text-red-700" *ngIf="editarPerfilForm.get('telefono')?.hasError('pattern') && editarPerfilForm.get('telefono')?.touched">
                        El teléfono no es válido
                    </span>
                </div>
                <div class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="fecha">
                        Fecha nacimiento
                    </label>
                    <input formControlName="fecha_nac" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="fecha_nac
                      " type="datetime-local" value="{{usuario.fecha_nac}}">
                    <span class="text-red-700" *ngIf="editarPerfilForm.get('fecha_nac')?.hasError('required') && editarPerfilForm.get('fecha_nac')?.touched">
                        La fecha de nacimiento es obligatoria
                    </span>
                </div>
                <div class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="fecha">
                        Descripción
                    </label>
                    <textarea formControlName="descripcion" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="descripcion
                      " type="text" value="{{usuario.descripcion}}"></textarea>
                </div>
                <div class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="fecha">
                        Ubicación
                    </label>
                    <input formControlName="ubicacion" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="ubicacion
                      " type="text" value="{{usuario.ubicacion}}">
                </div>
            </div>
            <div class="flex flex-wrap mx-10 mb-2 flex-col justify-center items-center">
                <div class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="contraseña">
                        Contraseña actual *
                    </label>
                    <input formControlName="contraseñaActual" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="contraseñaActual" type="password">
                    <span class="text-red-700" *ngIf="editarPerfilForm.get('contraseñaActual')?.hasError('required') && editarPerfilForm.get('contraseñaActual')?.touched">
                        La contraseña es obligatoria
                    </span>
                </div>
                <div class="w-3/4 tablet:w-1/2 px-3 mb-6 tablet:mb-0">
                    <label class="block tracking-wide text-s mb-2" for="contraseña">
                        Contraseña nueva
                    </label>
                    <input formControlName="contraseñaNueva" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="contraseñaNueva
                      " type="password">
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <button routerLink="/perfil" class="bg-red-400 mb-3 mx-5 text-black py-2 px-4 rounded hover:bg-black hover:text-red-600" type="button">Cancelar</button>
            <button *ngIf="editarPerfilForm.invalid" class="bg-gray-400 mb-3 text-black py-2 px-4 rounded opacity-50 cursor-not-allowed" disabled type="button">Actualizar</button>
            <button *ngIf="editarPerfilForm.valid" class="bg-blue-700 mb-3 hover:bg-black text-black hover:text-white py-2 px-4 hover:border-transparent rounded" type="submit">Actualizar</button>
        </div>

    </form>
</body>

</html>