@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --main-bg-color: #43f79a;
  }

@layer base {
  html {
    font-family: Stencil Std, fantasy;
  }
}

@layer utilities {
  .arrow-image-right {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  .arrow-image-left {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }

  .circle {
    clip-path: circle(50% at 50% 50%);
  }

  .active-link {
    text-decoration-thickness: 3px;
    color: white;
    border-radius: 50%;
    background: repeating-radial-gradient(black, transparent 100px);
    padding: 10px;
  }
}

