<!DOCTYPE html>

<body>
    <div class="w-full flex bg-white h-auto">
        <div class="w-full flex items-center justify-start">
            <a routerLink="/"> <img class="w-1/2 mobile:w-1/6 tablet:w-1/6 laptop:w-1/8 desktop:w-1/12" src="../../../assets/logo.png" alt=""></a>
        </div>
        <div class="w-full hidden items-center justify-center bg-clip-text text-transparent bg-gradient-to-r from-purple-900 to-blue-400 text-2xl tablet:flex">CiudActive</div>
        <div class="flex justify-end items-center mobile:hidden">
            <img (click)="toggleMenu()" src="../../../assets/menu.png" class="max-w-1/6 mr-2" alt="menu">
        </div>
        <div class="w-full max-h-80px items-center justify-end hidden mobile:flex mobile:visible">
            <a routerLink="/eventos" routerLinkActive="active-link" class="px-3 py-3">
                <span>Eventos</span>
            </a>
            <a routerLink="/publicar" routerLinkActive="active-link" *ngIf="logged" class="px-3 py-3">
                <span>Publicar</span>
            </a>
            <a routerLink="/login" routerLinkActive="active-link" *ngIf="!logged" class="px-3 py-3">
                <span>Inicio sesión</span>
            </a>
            <a routerLink="/perfil" routerLinkActive="active-link" *ngIf="logged" class="px-3 py-3">
                <span>Perfil</span>
            </a>
            <a (click)="cerrarSesion()" routerLink="" *ngIf="logged" class="px-3 py-3">
                <span>Cerrar sesión</span>
            </a>
        </div>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu, 'flex-col': showMenu}" class="w-full max-h-80px items-center justify-center mobile:hidden">
        <a routerLink="/eventos" routerLinkActive="active-link-hamburguer" class="px-3 py-3 w-full text-center bg-gray-200 cursor-pointer hover:bg-gray-400">
            <span>Eventos</span>
        </a>
        <a routerLink="/publicar" routerLinkActive="active-link-hamburguer" *ngIf="logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
            <span>Publicar</span>
        </a>
        <a routerLink="/login" routerLinkActive="active-link-hamburguer" *ngIf="!logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
            <span>Inicio sesión</span>
        </a>
        <a routerLink="/perfil" routerLinkActive="active-link-hamburguer" *ngIf="logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
            <span>Perfil</span>
        </a>
        <a (click)="cerrarSesion()" routerLink="/" *ngIf="logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
            <span>Cerrar sesión</span>
        </a>
    </div>
</body>