<!DOCTYPE html>

<div class="w-full flex bg-white dark:bg-gray-400 h-auto">
    <div class="w-full flex items-center justify-start">
        <a routerLink="/"> <img class="w-1/2 mobile:w-1/6 tablet:w-1/6 laptop:w-1/8 desktop:w-1/12" src="../../../assets/logo.png" alt=""></a>
    </div>
    <div routerLink="/" class="w-full hidden cursor-pointer items-center justify-center bg-clip-text text-transparent bg-gradient-to-r from-purple-900 to-blue-400 text-2xl tablet:flex">CiudActive</div>
    <div class="flex justify-end items-center mobile:hidden">
        <img (click)="toggleMenu()" src="../../../assets/menu.png" class="max-w-1/6 mr-2" alt="menu">
    </div>
    <div class="w-full max-h-80px items-center justify-end hidden mobile:flex mobile:visible">
        <a routerLink="/ciudades" routerLinkActive="active-link" *ngIf="admin" class="px-3 py-3 flex justify-center items-center h-full">
            <span>Ciudades</span>
        </a>
        <a routerLink="/categorias" routerLinkActive="active-link" *ngIf="admin" class="px-3 py-3  flex justify-center items-center h-full">
            <span>Categorias</span>
        </a>
        <a routerLink="/eventos" routerLinkActive="active-link" class="px-3 py-3  flex justify-center items-center h-full">
            <span>Eventos</span>
        </a>
        <a routerLink="/publicar" routerLinkActive="active-link" *ngIf="logged" class="px-3 py-3  flex justify-center items-center h-full">
            <span>Publicar</span>
        </a>
        <a routerLink="/login" routerLinkActive="active-link" *ngIf="!logged" class="px-3 py-3  flex justify-center items-center h-full">
            <span>Inicio sesión</span>
        </a>
        <a routerLink="/perfil" routerLinkActive="active-link" *ngIf="logged" class="px-3 py-3  flex justify-center items-center h-full">
            <span>Perfil</span>
        </a>
        <a (click)="cerrarSesion()" routerLink="" *ngIf="logged" class="px-3 py-3 flex justify-center items-center h-full whitespace-nowrap">
            <span>Cerrar sesión</span>
        </a>
    </div>
</div>
<div [ngClass]="{'hidden': !showMenu, 'flex': showMenu, 'flex-col': showMenu}" class="w-full max-h-80px items-center justify-center mobile:hidden">
    <a routerLink="/ciudades" routerLinkActive="active-link-hamburguer" *ngIf="admin" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
        <span>Ciudades</span>
    </a>
    <a routerLink="/categorias" routerLinkActive="active-link-hamburguer" *ngIf="admin" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
        <span>Categorias</span>
    </a>
    <a routerLink="/eventos" routerLinkActive="active-link-hamburguer" class="px-3 py-3 w-full text-center bg-gray-200 cursor-pointer hover:bg-gray-400">
        <span>Eventos</span>
    </a>
    <a routerLink="/publicar" routerLinkActive="active-link-hamburguer" *ngIf="logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
        <span>Publicar</span>
    </a>
    <a routerLink="/login" routerLinkActive="active-link-hamburguer" *ngIf="!logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
        <span>Inicio sesión</span>
    </a>
    <a routerLink="/perfil" routerLinkActive="active-link-hamburguer" *ngIf="logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
        <span>Perfil</span>
    </a>
    <a (click)="cerrarSesion()" routerLink="/" *ngIf="logged" class="px-3 py-3 w-full text-center cursor-pointer bg-gray-200 hover:bg-gray-400">
        <span>Cerrar sesión</span>
    </a>
</div>
<div class="w-full">
    <div (click)="darkMode()" id="darkOption" class="absolute bg-black rounded-b-full float-right">
        <svg id="dark-preview" class="w-5 h-5" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <button id="theme-toggle" type="button" class="hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-b-full text-sm p-2.5">
                <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            </button>
    </div>
</div>