<!DOCTYPE html>
<html lang="en" class="min-h-full block m-0 p-0">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body class="m-0 p-0 bg-gradient-to-b from-white to-black">
    <app-header></app-header>
    <app-spinner></app-spinner>

    <div class="py-10 text-5xl flex flex-col items-center justify-center bg-bg-cervezas bg-cover bg-center bg-no-repeat">
        <br>
        <div class=" text-center bg-clip-text text-transparent bg-gradient-to-r from-purple-700 to-blue-400 uppercase">Que no te lo cuenten ...</div>
        <br>
    </div>

    <div class="flex flex-col items-center justify-center">
        <div class="text-2xl tablet:text-4xl p-3 text-center uppercase hidden mobile:flex">Explora los eventos cerca tuyo y disfruta</div>
        <div class="text-2xl p-3 text-center">Encuentra eventos en cualquier ciudad</div>
    </div>

    <div class="flex flex-wrap flex-row items-center justify-center">
        <img src="../../../assets/madrid.jpg" (click)="searchCiudad(madridID)" alt="Madrid ciudad" class="max-h-80 rounded-lg mx-5 my-3 max-w-1/2 cursor-pointer transform transition duration-500 hover:scale-110">
        <img src="../../../assets/burgos.jpg" (click)="searchCiudad(burgosID)" alt="Burgos ciudad" class="max-h-80 rounded-lg mx-5 my-3 max-w-1/2 cursor-pointer transform transition duration-500 hover:scale-110">
        <img src="../../../assets/santander.jpg" (click)="searchCiudad(santanderID)" alt="Santander ciudad" class="max-h-80 rounded-lg mx-5 my-3 max-w-1/2 cursor-pointer transform transition duration-500 hover:scale-110">
    </div>

    <div class="text-black">
        <div class="flex flex-col items-center justify-center">
            <div class="text-2xl tablet:text-4xl p-10 text-yellow-500 text-center uppercase">Organiza tus propias actividades gratis</div>
        </div>

        <div>
            <div class="flex flex-col justify-center items-center text-white tablet:flex-row">
                <a routerLink="/publicar" class="text-center min-w-1/2 max-w-3/5 tablet:max-w-1/2"><img class="mobile:mx-5 arrow-image-right transform transition duration-500 hover:scale-110" src="../../../assets/senderismo.png" alt="Ruta"></a>
                <div class="text-2xl tablet:text-3xl font-medium font-titles flex flex-col justify-start items-start p-3 m-10">
                    <span class="py-2 tablet:py-4">Da vida a tus ideas</span>
                    <span class="py-2 tablet:py-4">Publicita tus eventos y consigue gente</span>
                    <span class="py-2 tablet:py-4">Conoce gente con tus mismas aficiones</span>
                    <span class="py-2 tablet:py-4">Organiza actividades privadas o públicas</span>
                    <span class="py-2 tablet:py-4">Busca público para darte a conocer</span>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center justify-center">
            <div class="text-2xl tablet:text-4xl p-5 text-yellow-500 text-center uppercase">Enterate y únete a cualquier evento</div>
        </div>

        <div>
            <div class="flex flex-col justify-center items-center text-white tablet:flex-row">
                <a routerLink="/eventos" class="text-center min-w-1/2 max-w-3/5 tablet:max-w-1/2"><img routerLink="/eventos" class="mobile:mx-5 arrow-image-left transform transition duration-500 hover:scale-110" src="../../../assets/gente.webp" alt="Ollie"></a>
                <div class="text-2xl tablet:text-3xl font-medium font-titles flex flex-col justify-start items-start p-3 m-10">
                    <span class="py-2 tablet:py-4">Inscríbete</span>
                    <span class="py-2 tablet:py-4">Únete a los planes del momento</span>
                    <span class="py-2 tablet:py-4">No te pierdas ningún evento</span>
                    <span class="py-2 tablet:py-4">Disfruta de variedad de actividades</span>
                    <span class="py-2 tablet:py-4">Comparte y sigamos creciendo</span>
                </div>
            </div>
        </div>
    </div>
    <span class="mobile:text-3xl mt-5 mr-5 uppercase float-right bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-700">... cuentalo tú mismo</span>
    <br><br><br>
</body>

</html>
<app-footer></app-footer>
<a class="hidden" href="https://ibasart97.wixsite.com/website/portfolio">Portfolio creador logotipo</a>