<!DOCTYPE html>
<html lang="en" class="h-full min-h-full block">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body class="m-0 p-0 bg-gradient-to-b from-white to-black">
    <app-header></app-header>
    <div class="py-10 text-5xl flex flex-col items-center justify-center bg-bg-confeti bg-cover bg-no-repeat">
        <br>
        <div class="text-white">Explora los eventos cerca tuyo y disfruta</div>
        <br>
    </div>

    <div class="flex flex-col items-center justify-center">
        <div class="text-4xl p-3">No te pierdas nada que ocurra a tu alrededor</div>
        <div class="text-2xl p-3">Encuentra eventos en cualquier ciudad</div>
    </div>

    <div class="flex flex-wrap flex-row items-center justify-center">
        <img src="../../../assets/madrid.jpg" alt="Madrid ciudad" class="max-h-80 m-0 rounded-lg mx-5 max-w-1/2 transition-transform hover:scale-150">
        <img src="../../../assets/burgos.jpg" alt="Burgos ciudad" class="max-h-80 m-0 rounded-lg mx-5 max-w-1/2">
        <img src="../../../assets/santander.jpg" alt="Santander ciudad" class="max-h-80 m-0 rounded-lg my-5 max-w-1/2">
    </div>

    <div class=" text-white">
        <div class="flex flex-col items-center justify-center">
            <div class="text-4xl p-10">Organiza tus propias actividades gratis</div>
        </div>

        <div class="mx-40">
            <div class="grid grid-cols-1 tablet:grid-cols-2">
                <a routerLink="/publicar"><img class="m-0 arrow-image-right" src="../../../assets/senderismo.png" alt="Ruta"></a>
                <div class="text-3xl font-medium font-titles flex flex-col justify-center items-center p-3">
                    <span class="py-2">Da vida a tus ideas</span>
                    <span class="py-2">Publicita tus eventos y consigue gente</span>
                    <span class="py-2">Conoce gente con tus mismas aficiones</span>
                    <span class="py-2">Organiza actividades privadas o públicas</span>
                    <span class="py-2">Busca público para darte a conocer</span>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center justify-center">
            <div class="text-4xl p-10">Enterate y únete a cualquier evento</div>
        </div>

        <div class="mx-40">
            <div class="grid grid-cols-1 tablet:grid-cols-2">
                <a routerLink="/eventos"><img routerLink="/eventos" class="m-0 arrow-image-left" src="../../../assets/gente.webp" alt="Ollie"></a>
                <div class="text-3xl font-medium font-titles flex flex-col justify-center items-center p-3">
                    <span class="py-2">Únete a los planes del momento</span>
                    <span class="py-2">No te pierdas ningún evento</span>
                    <span class="py-2">Inscríbete</span>
                    <span class="py-2">Disfruta de variedad de actividades</span>
                    <span class="py-2">Comparte y sigamos creciendo</span>
                </div>

            </div>
        </div>
    </div>
    <br><br><br>
</body>

</html>