<!DOCTYPE html>
<html lang="en" class="min-h-full block m-0 p-0 bg-bg-fondoQuestion bg-contain bg-center bg-no-repeat dark:bg-gray-500">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas frecuentes</title>
</head>

<body class="pb-5 w-auto">
    <app-header></app-header>
    <app-spinner></app-spinner>

    <div class="m-auto max-w-default font-mono">
        <div class="text-center">
            <h2 class="md:text-5xl text-3xl text-gray-800 font-bold"> Preguntas frecuentes</h2>
        </div>
        <div class="mt-10 md:mt-16">
            <div class="md:max-w-3xl m-auto">
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Es necesario pagar por algún servicio?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">No, la aplicación ofrece todas sus posibilidades completamente gratis al haber creado una cuenta.</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Cómo se puede añadir una nueva ciudad?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">Para la creación de una nueva ciudad en la que comenzar a añadir eventos, hay que ponerse en contacto con el soporte/administrador, el cual se encargará de crear la ciudad lo antes posible y quedará creada para siempre.</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Cómo se puede añadir una nueva categoría?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">Para la creación de una nueva categoría, hay que ponerse en contacto con el soporte/administrador, el cual se encargará de crear la ciudad lo antes posible y quedará creada para siempre.</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Es obligatorio inscribirse para acudir a la actividad?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">No, la inscripción es una información adicional que se le ofrece al creador para llevar un recuento a grandes rasgos de la gente que acudirá y guardar el evento en el perfil del usuario inscrito. Si se desean comprar entradas o hacer
                        una reserva completa se ofrece el contacto del creador para tramitarlo.</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Se pueden realizar compras a través de la web?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">No, las compras las gestiona directamente el anunciante, de momento...</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Para realizar una inscripción a una actividad/evento es necesario estar registrado?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">Sí, la acción para inscribirse es única para usuarios registrados.</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Para crear una actividad/evento es necesario estar registrado?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">Sí, la acción para inscribirse es única para usuarios registrados.</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Cómo puedo editar/borrar una actividad/evento creada por mi?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">Las actividades/eventos creadas aparecen en la lista del perfil de cada uno, desde ahí se puede acceder al borrado o edición de cada uno de ellos.</p>
                </details>
                <details class="border-b-2">
                    <summary class="p-4 text-gray-800  font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-blue-800">¿Puedo hacer que un evento vuelva a ser visible una vez se haya pasado su fecha?</summary>
                    <p class="py-2 px-3 text-gray-600 dark:text-black">Sí, desde tu perfil puedes acceder a la edición del evento y actualizar la fecha a una posterior, de forma que volverá a mostrarse en el listado de eventos futuros con toda la información igual y manteniendo los comentarios.</p>
                </details>
            </div>
        </div>
    </div>
</body>

</html>
<app-footer></app-footer>